.navbar{
    background-color: #2C3E50;
}
.navbar-brand ,.navbar-nav .nav-link.active ,.navbar-nav .nav-link,.navbar-brand:focus{
    color: rgb(255, 255, 255) !important;
}
.startFrameWork{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    line-height: 48px;
    font-size: 32px;
}
.startFrameWork:hover{
    color: rgb(255, 255, 255)  !important;
}
.nav-link{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"  ;
    font-weight: 700;
    line-height: 24px;
    font-size: 16px;
}
.navBar-sm{
    width: fit-content;
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}